.pokemon_card {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 1px solid darkgray;
  align-items: center;

  &__img {
    object-fit: contain;
    padding: 10px;
    width: 80%;
  }

  &__name {
    text-transform: capitalize;
  }

  &__type {
    display: flex;
    justify-content: space-around;
  }

  &__type_name {
    display: inline-block;
    padding: 10px;
    text-transform: capitalize;
    background-color: darkgray;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
  }

  &__type_name--fire{
    background-color: #EF8D89;
  }
  &__type_name--poison{
    background-color: #A990B5;
  }
  &__type_name--grass{
    background-color: #BEDFB2;
  }
  &__type_name--water{
    background-color: #008CFF;
  }
  &__type_name--electic{
    background-color: #FFE38F;
  }
  &__type_name--bug{
    background-color: #83A651;
  }
  &__type_name--flying{
    background-color: #409EAE;
  }
  &__type_name--normal{
    background-color: #F6EEB5;
  }
  &__type_name--ground{
    background-color: #815921;
  }
  &__type_name--fairy{
    background-color: #D9C1BC;
  }
  &__type_name--fighting{
    background-color: #899AAA;
  }
  &__type_name--psychic{
    background-color: #C6AD50;
  }
}